@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
}

.progms img {
  display: block;
  margin: auto;
}

@media (max-width: 768px) {
  .progms p {
    display: none;
  }
}

@media (max-width: 1023px) {
  .n1 {
    display: none;
  }
}

@media (min-width: 1024px) {
  .navbar {
    display: none;
  }
}

* {
  font-family: "Raleway";
}

.coords {
  background-image: url("/img/wave-haikei-1.svg");
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}

.navbar {
  background-image: url("/img/wave-haikei-2.svg");
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}

body{
  background-image: url("/img/wave-haikei-3.svg");
  background-size: cover;
  background-position: left left;
  background-repeat: no-repeat;
}
